#low {
  display: none;
}
#medium{
  display:none;
}
#high{
  display: none;
}
#stressQuiz{
  display: none;
}
#fortuneQuiz{
  display: none;
}
#lowLuck{
  display:none
}
#mediumLuck{
  display:none;
}
#highLuck{
  display: none;
}